.artboard {
    display:inline-block;
    position:relative;
    transform-origin: 0 0;

    &__canvas {
        display:block;
        image-rendering: pixelated;
        z-index: 1;
    }

    &__interface {
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        overflow:hidden;
        z-index: 2;
    }
}
